@import url('');


*{
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  outline: none;
}

/* #linear-gradient {
  background: linear-gradient(black, white);
} */

.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: #eff2f5; */
}

.dropDown{
  margin-left: -600px;
  margin-bottom: -35px;
  font-size: 1rem;
  font-weight: 500;
  color: #0d315d;
  border: none;
  padding: 0.5rem 3.5rem;
  background-color: #bcd7f8;
  text-align: center;
}
.dropOpt{
  text-align: center;
}

.btn{
  font-size: 1rem;
  font-weight: 500;
  color: #0d315d;
  border: none;
  padding: 0.5rem 3.5rem;
  background-color: #bcd7f8;
}

.btn-left{
  border-radius: 0.2rem 0 0 0.2rem;
}

.btn-right{
  border-radius: 0 0.2rem 0.2rem 0;
}

.active{
  color: #ffffff;
  background-color: #207ac8;
}


.card{
  width: 20rem;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 0.4rem;
  padding: 1rem;
  margin-top: 1.5rem;
}

textarea {
  min-height: 100px;
  font-size: 0.9rem;
  font-weight: 400;
  background-color: #ffffff;
  border: 2px solid #d2e4fa;
  border-radius: 0.3rem;
  padding: 0.5rem 0.9rem;
}

textarea::placeholder{
  color: #d1d1d1;
}

.submit-btn {
  border-radius:  0.2rem;
  margin-top: 1rem;
}

.encrypt-btn{
  color: #ffffff;
  background-color: #207ae8;
}

.decrypt-btn{
  color: #ffffff;
  background-color: #e53471;
}

.error{
  font-size: 12px;
  font-weight: 500;
  color: #ff0000;
  margin-top: 10px;
}

.content {
  width: 26rem;
  margin-top: 2rem;
  border: 2px dashed #bababa;
  padding: 1rem 1rem;
  border-radius:  0.5rem;
}

label{
  font-size: 0.8rem;
  font-weight: 500;
  color: #a2a2a2;
}

p{
  font-size: 1rem;
  font-weight: 500;
  margin-top: 0.5rem;
  color: #2e2e2e;
  white-space: pre-wrap;
  word-wrap: break-word;
}





/* animation background */

body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  background: linear-gradient(315deg, rgb(56, 2, 77) 3%, rgba(45, 101, 223, 0.986) 38%, rgb(60, 173, 218) 68%, rgb(176, 76, 223) 98%);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

@keyframes gradient {
  0% {
      background-position: 0% 0%;
  }
  50% {
      background-position: 100% 100%;
  }
  100% {
      background-position: 0% 0%;
  }
}

.wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
      transform: translateX(1);
  }

  25% {
      transform: translateX(-25%);
  }

  50% {
      transform: translateX(-50%);
  }

  75% {
      transform: translateX(-25%);
  }

  100% {
      transform: translateX(1);
  }
}